

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.header, .footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.content {
  padding: 20px;
  background-color: #f4f4f4;
}


/* Медиазапросы для адаптивного дизайна */
@media (max-width: 768px) {
  .container {
      padding: 10px;
  }
  .content {
      padding: 10px;
  }
}